<html>
	<head>
		<title>{% if page_title %} {{ page_title }} - {% endif %}microblog</title>
	</head>
	<body>
		<div> MicroBlog: <a href="{{ url_for('index') }}">Home</a>
		{% if g.user.is_authenticated() %}
		| <a href="{{ url_for('logout') }}"> Logout </a>
		{% endif %}
		</div>
		<hr/>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li> {{ message }} </li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %} {% endblock %}
	</body>

</html>
